<%- include('../partials/base.ejs', {
    pageTitle: 'Apex Box & Whisker Chart',
    currentPage: 'apexboxwhiskerchart',
    additionalCSS: [
        'css/apexcharts.css'
    ],
    additionalModules: [
        'scripts/apexboxwhiskerchart.js'
    ], 
    content: `
    
    <nav class="app-breadcrumb" aria-label="breadcrumb">
        <ol class="breadcrumb ms-0">
            <li class="breadcrumb-item">Data Visualization</li>
            <li class="breadcrumb-item">Apex Charts</li>
            <li class="breadcrumb-item active" aria-current="page">Apex Box & Whisker Chart</li>
        </ol>
    </nav>
    <h1 class="subheader-title">
        Apex Box & Whisker Chart
        <small>
            Leverage these Apex Box & Whisker Chart variants as a starting point for custom analytical dashboards.
        </small>
    </h1> 
    <div class="main-content">
        <div class="row">
            <div class="col-sm-6">
                <div id="panel-1" class="panel panel-icon">
                    <div class="panel-hdr">
                        <h2> Basic <span class="fw-light"><i>Box & Whisker</i></span>
                        </h2>
                        <div class="panel-toolbar">
                            <button type="button" class="btn btn-panel" data-action="panel-collapse" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-offset="0,10" data-bs-original-title="Toggle">
                                <svg class="sa-icon">
                                    <use class="panel-collapsed-icon" href="img/sprite.svg#minus-circle"></use>
                                    <use class="panel-expand-icon" href="img/sprite.svg#plus-circle"></use>
                                </svg>
                            </button>
                            <button type="button" class="btn btn-panel" data-action="panel-fullscreen" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-offset="0,10" data-bs-original-title="Fullscreen">
                                <svg class="sa-icon">
                                    <use href="img/sprite.svg#stop-circle"></use>
                                </svg>
                            </button>
                            <button type="button" class="btn btn-panel" data-action="panel-close" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-offset="0,10" data-bs-original-title="Close">
                                <svg class="sa-icon">
                                    <use href="img/sprite.svg#x-circle"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="panel-container">
                        <div class="panel-content">
                            <div id="basic-box-whisker-chart"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div id="panel-2" class="panel panel-icon">
                    <div class="panel-hdr">
                        <h2> Horizontal BoxPlot <span class="fw-light"><i>Box & Whisker</i></span>
                        </h2>
                        <div class="panel-toolbar">
                            <button type="button" class="btn btn-panel" data-action="panel-collapse" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-offset="0,10" data-bs-original-title="Toggle">
                                <svg class="sa-icon">
                                    <use class="panel-collapsed-icon" href="img/sprite.svg#minus-circle"></use>
                                    <use class="panel-expand-icon" href="img/sprite.svg#plus-circle"></use>
                                </svg>
                            </button>
                            <button type="button" class="btn btn-panel" data-action="panel-fullscreen" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-offset="0,10" data-bs-original-title="Fullscreen">
                                <svg class="sa-icon">
                                    <use href="img/sprite.svg#stop-circle"></use>
                                </svg>
                            </button>
                            <button type="button" class="btn btn-panel" data-action="panel-close" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-offset="0,10" data-bs-original-title="Close">
                                <svg class="sa-icon">
                                    <use href="img/sprite.svg#x-circle"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="panel-container">
                        <div class="panel-content">
                            <div id="horizontal-boxplot-chart"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>



    `
}) %> 
