<%- include('../partials/base.ejs', {
    pageTitle: 'SmartTables: Server-Side Mode',
    currentPage: 'smarttablesserverside',
    additionalModules: [
        './scripts/smarttablesserverside.js',
    ],  
    content: `
    <nav class="app-breadcrumb" aria-label="breadcrumb">
        <ol class="breadcrumb ms-0">
            <li class="breadcrumb-item">Data Visualization</li>
            <li class="breadcrumb-item">Smart Tables</li>
            <li class="breadcrumb-item active" aria-current="page">Server-Side Mode</li>
        </ol>
    </nav>
    <h1 class="subheader-title position-relative">
        ST: Server-Side Mode
        <small>
            Loading the table with server side data.
        </small>
    </h1> 
    <div class="main-content">
        <div class="info-container">
            <strong>Here</strong> we use <code>mock-server.php</code> to load data via AJAX, data resets every 24 hours.  
            Configure with:  
            <code>
                data: { type: 'ajax', source: 'API_URL', serverSide: true, method: 'GET', cacheDuration: 300000 }
            </code>  
            Processing happens server-side; client only renders. <strong>Searched, paging, and sorting</strong> is cached for 5 minutes.  
            Test how this works by opening the browser's <strong>developer tools</strong> and going to the <strong>Network</strong> tab. <a href="smarttablesjs.html#smarttables-server-side" target="_blank">See documentation →</a>
        </div>
        


        <div class="row">
            <div class="col-lg-12">
                <table id="demo-table"></table>
            </div>
            <div class="col-lg-12">

            </div>
        </div>
    </div>  
    `
}) %>