<form class="app-menu-filter-container px-4">
    <input type="text" class="form-control" id="searchInput" placeholder="Filter" autocomplete="off">
    <div class="js-filter-message nav-filter-msg badge bg-secondary btn" 
        data-bs-toggle="tooltip" 
        data-bs-placement="top" 
        data-bs-original-title="Clear filter"></div>
</form>