<footer class="app-footer">
	<div class="app-footer-content flex-grow-1">
		SmartAdmin &copy; <%= new Date().getFullYear() %>. All rights reserved, Gotbootstrap Inc.

		<a href="#top" class="ms-auto hidden-mobile" aria-label="Back to top">
			<svg class="sa-icon sa-thick sa-icon-primary">
				<use href="img/sprite.svg#arrow-up"></use>
			</svg>
		</a>
	</div>
</footer>