<div class="app-logo flex-shrink-0" data-prefix="v5.1.0" data-action="playsound" data-soundpath="media/sound/" data-soundfile="sawhisp.mp3">
    <!-- <img src="img/logo.svg" alt="logo"> -->
    <!-- please check docs on how to update this logo different dimensions -->
    <svg class="custom-logo">
      <use href="img/app-logo.svg#custom-logo"></use>
    </svg>
    <div class="logo-backdrop">
      <div class="blobs">
        <svg viewbox="0 0 1200 1200">
          <g class="blob blob-1">
            <path />
          </g>
          <g class="blob blob-2">
            <path />
          </g>
          <g class="blob blob-3">
            <path />
          </g>
          <g class="blob blob-4">
            <path />
          </g>
          <g class="blob blob-1 alt">
            <path />
          </g>
          <g class="blob blob-2 alt">
            <path />
          </g>
          <g class="blob blob-3 alt">
            <path />
          </g>
          <g class="blob blob-4 alt">
            <path />
          </g>
        </svg>
      </div>
    </div>
</div>