<meta charset="utf-8">
<title><%= pageTitle %></title>
<meta name="description" content="Page Description">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=5">

<!-- Standard favicon for browsers -->
<link rel="icon" href="img/favicon-32x32.png" type="image/png" sizes="32x32">
<link rel="icon" href="img/favicon-16x16.png" type="image/png" sizes="16x16">
<!-- Apple Touch Icon (iOS) -->
<link rel="apple-touch-icon" href="img/apple-touch-icon.png" sizes="180x180">
<!-- Android/Chrome (Progressive Web App) -->
<link rel="icon" href="img/favicon-192x192.png" type="image/png" sizes="192x192">

<!-- Call App Mode on ios devices -->
<meta name="mobile-web-app-capable" content="yes">
<!-- Remove Tap Highlight on Windows Phone IE -->
<meta name="msapplication-tap-highlight" content="no">

<!-- Vendor css -->
<link rel="stylesheet" media="screen, print" href="css/bootstrap.css">
<link rel="stylesheet" media="screen, print" href="css/waves.css">

<!-- Base css -->
<link rel="stylesheet" media="screen, print" href="css/smartapp.css">
<link rel="stylesheet" media="screen, print" href="css/sa-icons.css">

<!-- Theme Style -->
<link id="theme-style" rel="stylesheet" media="screen, print">

<!-- Page specific CSS -->
<% if (typeof additionalCSS !== 'undefined' && additionalCSS) { %>
    <% additionalCSS.forEach(function(css) { %>
        <link rel="stylesheet" media="screen, print" href="<%= css %>">
    <% }); %>
<% } %>
