<nav class="navbar navbar-expand-lg navbar-dark position-fixed w-100 py-3" style="z-index: 1000;">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="img/logo-light.svg" alt="logo">
        </a>
        <div class="ms-auto d-flex gap-2">
            <a href="login.html" class="btn btn-link text-white border-0 text-decoration-none">Login</a>
            <a href="register.html" class="btn btn-link text-white border-0 text-decoration-none">Register</a>
        </div>
    </div>
</nav>